

<div style="margin:20px">
  <button (click)="show()">alerta</button>

  <hr>
  <form action="">
    <h1>formulario</h1>
    <ol>
      <li>
        <label for="text">Nombre</label><br>
        <input [(ngModel)]="name" type="text" name="name" id="name">
        <input (click)="mostrarNombre()" type="submit" value="Enviar">

      </li>
    </ol>
  </form>
  <hr>
  <h1>Base de Datos</h1>

  <ol>
    <li>
      <h2>Insertar id:</h2>
      <input type="text" id="id" value="">
      <button>Isertar id</button>
    </li>
    <li>
      <h2>Editar id:</h2>
      <label for="">id actual: </label><input type="text" id="id_actual" value=""> <span>--</span>
      <label for="">id nuevo:</label><input type="text" id="id_nuevo" value="">
      <button>Cambiar</button>
    </li>
    <li>
      <h2>Eliminar id</h2>
      <input type="text" value="">
    </li>
    <li>
      <h2>Listar Ids</h2>
      <button>Listar Todos</button>
    </li>
  </ol>

  <hr>
</div>