/* You can add global styles to this file, and also import other style files */
h1{
    color:darkseagreen;
    
}
h2{
    color:floralwhite
}

body{
    background-color: rgb(10,190,20,0.4);
    background-image: url(./solid.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}